/* Style the navbar container */
.nav-bar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  /* Make the navbar span the width of the screen */
  text-align: center;
  /* Center the elements within the navbar */
}

/* Style the links in the navbar */
.nav-bar a {
  display: inline-block;
  /* Display the links inline-block */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add a hover effect to the links when the user hovers over them */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link */
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.wrapper {
  min-height: 95vh;
}

.display-wrapper {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

label {
  display: block;
  font-weight: normal;
  margin-bottom: 8px;
}

#submit_sdf,
#message {
    display: inline-block; /* Display as inline block to position them beside each other */
}

#message {
    margin-left: 10px; /* Add some margin between the button and loading text */
}

input[type="text"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="color"] {
  display: block;
  width: 20%;
  padding: 8px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  color: #555;
}

input[type="submit"] {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: normal;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

#display-box {
  display:flow-root;
  transform: translateY(30px);
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5%;
}

#control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#control-panel button {
  margin: 0 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Style for molecule bars */
#molecule-list {
  display:flow-root;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  max-width: 500px;
  min-height: 400px;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.empty-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color:#323232;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  flex-grow: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1px;
  align-self: flex-start;
}

.empty-bar:hover {
  background-color: #737373;
  cursor: pointer;
}

.molecule-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #877564;
  color:#ddd;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  flex-grow: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1px;
  align-self: flex-start;
}

.molecule-bar:hover {
  background-color: #5f4f40;
  cursor: pointer;
}

.molecule-name {
  font-weight: bold;
  font-size: 20px;
  color:#faf5df;
  margin-right: 10px; /* add some spacing to the right */
}

.molecule-atoms,
.molecule-bonds {
  font-size: 16px;
  color: #e3d1af;
}

.molecule-info {
  display: flex;
  flex-direction: column; /* stack elements in a column */
}

#error {
  color: #ff0000;
  margin-top: 8px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
}